body{
margin:0;
background:transparent;
font-family:sans-serif;
}

#box{

position:absolute;
top:40px;
right:40px;

background:white;

padding:16px 26px;

border-radius:6px;

text-align:right;

opacity:0;

transition:opacity .4s;

}

#title{

font-size:22px;
font-weight:bold;

}

#counter{

font-size:46px;
margin-top:4px;

}
