body{
margin:0;
overflow:hidden;
background:transparent;
width:1920px;
height:1080px;
font-family:sans-serif;
}

#countBox{

position:absolute;
top:60px;
right:60px;

background:white;

padding:20px 30px;

width:0px;

overflow:hidden;

opacity:0;

transition:all .6s ease;

}

#title{

font-size:30px;

}

#time{

font-size:60px;

}

#logoBox{

position:absolute;
top:60px;
right:60px;

background:white;

padding:10px;

opacity:0;

transition:opacity .5s;

}

#logoBox img{

height:70px;

}
