@font-face{
font-family:'LFT';
src:url('fonts/LFT_Etica.woff2') format('woff2');
}

body{
margin:0;
overflow:hidden;
background:transparent;

width:1920px;
height:1080px;
position:relative;
}

#overlay{

position:absolute;
top:60px;
right:60px;

}

#countBox{

background:white;

padding:20px 30px;

width:0px;
max-width:520px;

overflow:hidden;

opacity:0;

}

#countTextTop{

font-family:LFT;
font-size:34px;
letter-spacing:1px;
color:black;
text-transform:uppercase;

}

#countTextBottom{

font-family:LFT;
font-size:60px;
margin-top:4px;

}

#logoBox{

background:white;
padding:15px 20px;

opacity:0;

margin-top:10px;

}

#logo{

height:70px;

}